<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrapv5.1.3.min.css">
  <link rel="stylesheet" href="/css/ia.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
  <title>IA</title>
</head>

<body id="cuerpo">
  <!-- CHICA 👩‍🦰-->

  <!-- REPOSO -->
  <video class="videoIA" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/reposo_chica/reposo_chica.mp4" muted autoplay loop preload="auto" width="100%" id="reposoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END REPOSO -->

  <!-- SALUDO -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/1.saludos/saludo_chica_1.mp4" preload="auto" width="100%" id="saludoTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/1.saludos/saludo_chica_2.mp4" preload="auto" width="100%" id="saludoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END SALUDO -->

  <!-- GALERIAS -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/cua_uno/40MASUNO_1.mp4" preload="auto" width="100%" id="galeriasMasunoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/cua_uno/40MASUNO_2.mp4" preload="auto" width="100%" id="galeriasMasunoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/nunca_mismo/NUNCA1.mp4" preload="auto" width="100%" id="galeriasNuncaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/nunca_mismo/NUNCA2.mp4" preload="auto" width="100%" id="galeriasNuncaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/opening/OPENING_1.mp4" preload="auto" width="100%" id="galeriasOpeningFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/opening/OPENING_2.mp4" preload="auto" width="100%" id="galeriasOpeningSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/p.artistas/p.artistas.mp4" preload="auto" width="100%" id="galeriasProgramaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/p.general/p.general.mp4" preload="auto" width="100%" id="galeriasProgramaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/2.galerias/p.general/p.general_2.mp4" preload="auto" width="100%" id="galeriasArtistasTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END GALERIAS -->

  <!-- ARQUITECTURA -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/arco/fundacion_1.mp4" preload="auto" width="100%" id="architectureFundacionFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/arco/fundacion_2.mp4" preload="auto" width="100%" id="architectureFundacionSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/espacios/espacios_1.mp4" preload="auto" width="100%" id="architectureEspaciosFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/espacios/espacios_2_3.mp4" preload="auto" width="100%" id="architectureEspaciosSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/p.general/p.general.mp4" preload="auto" width="100%" id="architectureProgramaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/sala_cua_uno/sala_cua_uno.mp4" preload="auto" width="100%" id="architectureSalaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/sala_vip/sala_vip.mp4" preload="auto" width="100%" id="architectureVipTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/3.arquitectura/terraza/terraza.mp4" preload="auto" width="100%" id="architectureArcoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END ARQUITECTURA -->

  <!-- historia_-->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/4.historia/historia_1.mp4" preload="auto" width="100%" id="historyArcoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/4.historia/historia_2.mp4" preload="auto" width="100%" id="historyArcoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/4.historia/historia_3.mp4" preload="auto" width="100%" id="historyArcoThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END historia_-->

  <!-- novedades_-->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/5.novedades/novedades_1.mp4" preload="auto" width="100%" id="newsFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/5.novedades/novedades_2.mp4" preload="auto" width="100%" id="newsSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/5.novedades/novedades_3.mp4" preload="auto" width="100%" id="newsThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END novedades_-->

  <!-- OTRA TEMATICA -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/6.OtraTematicaChica/OtraTematicaChica.mp4" preload="auto" width="100%" id="anotherThemeTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END OTRA TEMATICA -->

  <!-- LISTADO RESPUESTA -> SI -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/7.respuesta_si/respuesta_si.mp4" preload="auto" width="100%" id="listYesChicaTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END LISTADO RESPUESTA -> SI -->

  <!-- pregunta_abierta -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/8.pregunta_abierta/pregunta_abierta.mp4" preload="auto" width="100%" id="openQuestionTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END pregunta_abierta -->

  <!-- PUNTUACION -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/9.puntuacion/puntuacion.mp4" preload="auto" width="100%" id="scoreTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END PUNTUACION -->

  <!-- DESPEDIDAS -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/10.despedidas/despedida_1.mp4" preload="auto" width="100%" id="byeFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chica/10.despedidas/despedida_2.mp4" preload="auto" width="100%" id="byeSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END DESPEDIDAS -->

  <!-- END CHICA 👩‍🦰-->


  <!-- CHICO 👨‍🦰-->

  <!-- REPOSO -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/reposo_chico/reposo_chico.mp4" autoplay muted loop preload="auto" width="100%" id="reposoChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END REPOSO -->

  <!-- SALUDO -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/1.saludos/saludo_1.mp4" preload="auto" width="100%" id="saludoChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/1.saludos/saludo_2.mp4" preload="auto" width="100%" id="saludoChicoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END SALUDO -->

  <!-- GALERIAS -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/cuarenta_mas_uno/1.mp4" preload="auto" width="100%" id="galeriasChicoMasunoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/cuarenta_mas_uno/2.mp4" preload="auto" width="100%" id="galeriasChicoMasunoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/nunca_mismo/NUNCA1.mp4" preload="auto" width="100%" id="galeriasChicoNuncaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/nunca_mismo/NUNCA2.mp4" preload="auto" width="100%" id="galeriasChicoNuncaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/opening/OPENING1.mp4" preload="auto" width="100%" id="galeriasChicoOpeningFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/opening/OPENING2.mp4" preload="auto" width="100%" id="galeriasChicoOpeningSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/p.general/1.mp4" preload="auto" width="100%" id="galeriasChicoProgramaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/p.general/2.mp4" preload="auto" width="100%" id="galeriasChicoProgramaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/2.galerias/p.artistas/1.mp4" preload="auto" width="100%" id="galeriasChicoArtistasTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END GALERIAS -->

  <!-- ARQUITECTURA -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/arco/FUNDACION1.mp4" preload="auto" width="100%" id="architectureChicoFundacionFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/arco/FUNDACION2.mp4" preload="auto" width="100%" id="architectureChicoFundacionSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/espacios/ESPACIOS1.mp4" preload="auto" width="100%" id="architectureChicoEspaciosFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/espacios/ESPACIOS2Y3.mp4" preload="auto" width="100%" id="architectureChicoEspaciosSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/p.general/p.general.mp4" preload="auto" width="100%" id="architectureChicoProgramaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/sala_cuarenta_mas_uno/sala_cua_uno.mp4" preload="auto" width="100%" id="architectureChicoSalaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/sala_vip/sala_vip.mp4" preload="auto" width="100%" id="architectureChicoVipTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/3.arquitectura/terraza/terraza.mp4" preload="auto" width="100%" id="architectureChicoArcoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END ARQUITECTURA -->

  <!-- historia_-->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/4.historia/historia_1.mp4" preload="auto" width="100%" id="historyChicoArcoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/4.historia/historia_2.mp4" preload="auto" width="100%" id="historyChicoArcoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/4.historia/historia_3.mp4" preload="auto" width="100%" id="historyChicoArcoThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END historia_-->

  <!-- novedades_-->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/5.novedades/novedades_1.mp4" preload="auto" width="100%" id="newsChicoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/5.novedades/novedades_2.mp4" preload="auto" width="100%" id="newsChicoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/5.novedades/novedades_3.mp4" preload="auto" width="100%" id="newsChicoThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END novedades_-->

  <!-- OTRA TEMATICA -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/6.OtraTematicaChico/OtraTematicaChico.mp4" preload="auto" width="100%" id="anotherThemeChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END OTRA TEMATICA -->

  <!-- LISTADO RESPUESTA -> SI -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/7.respuesta_si/respuesta_siI.mp4" preload="auto" width="100%" id="listYesChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END LISTADO RESPUESTA -> SI -->

  <!-- pregunta_abierta -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/8.pregunta_abierta/pregunta_abierta.mp4" preload="auto" width="100%" id="openQuestionChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END pregunta_abierta -->

  <!-- PUNTUACION -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/9.puntuacion/puntuacion.mp4" preload="auto" width="100%" id="scoreChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END PUNTUACION -->

  <!-- DESPEDIDAS -->
  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/10.despedidas/despedida_1.mp4" preload="auto" width="100%" id="byeFirstChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="https://feria.s3.us-east-2.amazonaws.com/video/chico/10.despedidas/despedida_2.mp4" preload="auto" width="100%" id="byeSecChicoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END DESPEDIDAS -->

  <!-- END CHICO 👨‍🦰-->

  <canvas id="waves" class="audioViewer" style="overflow: hidden;"></canvas>

  <div class="container-fluid videoMsg d-none p-3 justify-content-center d-flex align-items-center text-center bg-opaco" id="recognizedTxtCaption">
    <span class="spanVideoMsg text-center" id="spanRecognizedTxtCaption">
      Contesta y al final menciona la palabra 'ahora'
    </span>
  </div>

  <div class="container-fluid btnVideoCenter justify-content-center text-center align-items-center d-flex" id="talkBtnBox">

    <img src="/media/gifts/negro_coloreado.gif" id="circleSpectrum" alt="" width="385px">

    <button id="btnActiveRecognizer" class="btn  shadow border border-white" style="cursor: pointer;">
      <div class="loader-03 d-none" id="btnTalkLoader"></div>
      <i class="fas fa-microphone text-white fa-4x p-1 border-fw-black" id="microphoneIcon"></i>
    </button>
  </div>

  <button class="btnResetIA btn btn-dark btn-lg" id="btnReset" disabled>
    <i class="fas fa-solid fa-arrow-rotate-right"></i>
  </button>

  <div class="buttonsBox" id="buttonsBox">
    <div class="container-fluid h-100 align-items-center" style="display: grid;">
      <div class="row justify-content-center text-center">

        <div id="timerBoxFreeSay" class="row justify-content-center text-center d-none align-items-center h-100 d-flex">
          <span class="text-white fw-bolder" style="font-size: 10.5rem;" id="timerFreeSay"></span>
        </div>

        <div id="scoreBox" class="d-none row justify-content-center">

          <div class="col-md-12 d-flex text-center justify-content-center align-items-center h-100">
            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '1' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnOne" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">1
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '2' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnTwo" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">2
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '3' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnThree" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">3
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '4' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnFour" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">4
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '5' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack');" id="btnFive" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">5
            </button>

          </div>
        </div>

        <div id="YesOrNoBox" class="d-none row justify-content-center">

          <div class="col-md-12 d-flex text-center justify-content-center align-items-center h-100">
            <button id="btnYes" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Sí, me gustaría
            </button>

            <button id="btnNo" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">No, gracias
            </button>
          </div>
        </div>

        <div class="row mb-4" id="buttonsPartOne">
          <div class="col-md-12 d-flex text-center justify-content-evenly align-items-center h-100">

            <button id="btnGallery" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Galerías y secciones <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729642/icons/kisspng-computer-icons-photo-gallery-5b21af37aa13d6.9788079415289341996967_oofqzm.png" width="50" class="p-0 m-0" />
            </button>

            <button id="btnPlaces" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Espacios y arquitectura <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729643/icons/transparent-handout-icon-print-icon-road-map-icon-5fd3c435816667.12508880160771384553_dcfg3t.png" width="50" class="p-0 m-0" />
            </button>
          </div>
        </div>

        <div class="row" id="buttonsPartBox">
          <div class="col-md-12 d-flex text-center justify-content-evenly align-items-center h-100">

            <button id="btnHistory" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Historia de Arco <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729640/icons/kisspng-computer-icons-art-story-5ac43b2e903792.5535584715228096465907_qqktbi.png" width="50" class="p-0 m-0" />
            </button>

            <button id="btnNew" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Novedades 2022 <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729640/icons/kisspng-watercolor-painting-drawing-camera-photography-hand-painted-cameras-creative-5a9f7a8e929199.4775883515204010386004_1_qp7ohv.png" width="50" class="p-0 m-0" />
            </button>

          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/GlobalFunctions.js"></script>
    <script src="/JarvisFunctions.js"></script>
    <script src="/artyom.window.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/audioViewer.js"></script>
    <script src="/JarvisConf.js"></script>
    <script src="/JarvisNativeListeners.js"></script>
    <script src="/JarvisBasicListeners.js"></script>
    <script src="/JarvisValidations.js"></script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })

      document.addEventListener('click', () => {
        toggleFullScreen(document.body)
      })
      // // Toast
      // let toast = new Toast({
      //   animation: true,
      //   autohide: true,
      //   delay: 5000,
      // })


      // var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      // var toastList = toastElList.map(function (toastEl) {
      //   // Creates an array of toasts (it only initializes them)
      //   return new bootstrap.Toast(toastEl, {
      //                 animation: true,
      //                 autohide: true,
      //                 delay: 5000,
      //             })
      // });
      // var successToast = toastList[0];
    </script>

</body>

</html>