<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap/css/bootstrapv5.1.3.min.css">
  <link rel="stylesheet" href="/css/ia.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
  <title>IA</title>
</head>

<body id="cuerpo">
  <!-- CHICA 👩‍🦰-->

  <!-- REPOSO -->
  <video class="videoIA" src="./media/videos/6_IDLE.mp4" muted autoplay preload="metadata" loop  width="100%" id="reposoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END REPOSO -->

  <!-- SALUDO -->
  <video class="videoIA" muted autoplay preload="metadata" loop style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/1.SALUDOSYLISTADO/SALUDOCHICA1.mp4" width="100%" id="saludoTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA"  style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/1.SALUDOSYLISTADO/SALUDOCHICA2.mp4" width="100%" muted autoplay preload="metadata" loop  id="saludoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END SALUDO -->

  <!-- GALERIAS -->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/40MASUNO/40MASUNOGALERIA1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasMasunoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/40MASUNO/40MASUNOGALERIA2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasMasunoSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/NUNCALOMISMO/NUNCALOMISMO1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasNuncaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/NUNCALOMISMO/NUNCALOMISMO2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasNuncaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/OPENING/OPENING1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasOpeningFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/OPENING/OPENING2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasOpeningSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/PROYECTOSARTISTAS/PROYECTOSARTISTAS.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasProgramaFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/PROGRAMAGENERAL/PROGRAMAGENERAL1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasProgramaSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/2.GALERIASYSECCIONES/PROGRAMAGENERAL/PROGRAMAGENERAL2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="galeriasArtistasTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END GALERIAS -->

  <!-- ARQUITECTURA -->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/FUNDACIONARCO/FUNDACION1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureFundacionFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/FUNDACIONARCO/FUNDACION2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureFundacionSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/OTROSESPACIOS/ESPACIOS1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureEspaciosFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/OTROSESPACIOS/ESPACIOS2Y3.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureEspaciosSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/PROGRAMAGENERAL/PROGRAMAGENERALARQ.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureProgramaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/SALA40MASUNO/SALA40MASUNO.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureSalaTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/SALAVIP/SALAVIP.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureVipTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/3.ESPACIOSYARQUITECTURA/TERRAZAARCO/TERRAZAARCO.mp4"  width="100%" muted autoplay preload="metadata" loop  id="architectureArcoTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END ARQUITECTURA -->

  <!-- historia_-->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/4.HISTORIADEARCO/HISTORIADEARCO1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="historyArcoFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/4.HISTORIADEARCO/HISTORIADEARCO2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="historyArcoThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END historia_-->

  <!-- novedades_-->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/5.NOVEDADES2022/NOVEDADES1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="newsFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/5.NOVEDADES2022/NOVEDADES2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="newsSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/5.NOVEDADES2022/NOVEDADES1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="newsThirdTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END novedades_-->

  <!-- OTRA TEMATICA -->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/6.PREGUNTAPARADECISIONUSUARIO/PREGUNTADECISION.mp4"  width="100%" muted autoplay preload="metadata" loop  id="anotherThemeTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END OTRA TEMATICA -->

  <!-- LISTADO RESPUESTA -> SI -->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/7.LISTADODESPUESDERESPUESTASI/LISTADODESPUESDERESPUESTASI.mp4"  width="100%" muted autoplay preload="metadata" loop  id="listYesChicaTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END LISTADO RESPUESTA -> SI -->

  <!-- DESPEDIDAS -->
  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/10.DESPEDIDAS/DESPEDIDA1.mp4"  width="100%" muted autoplay preload="metadata" loop  id="byeFirstTrack">
    Tu navegador no soporta HTML5 video.
  </video>

  <video class="videoIA" style="display:none;" src="/media/Videos/VIDEOSCHICAARCO2022/10.DESPEDIDAS/DESPEDIDA2.mp4"  width="100%" muted autoplay preload="metadata" loop  id="byeSecTrack">
    Tu navegador no soporta HTML5 video.
  </video>
  <!-- END DESPEDIDAS -->

  <!-- END CHICA 👩‍🦰-->

  <canvas id="waves" class="audioViewer" style="overflow: hidden;"></canvas>

  <div class="container-fluid videoMsg d-none p-3 justify-content-center d-flex align-items-center text-center bg-opaco" id="recognizedTxtCaption">
    <span class="spanVideoMsg text-center" id="spanRecognizedTxtCaption">
      Contesta y al final menciona la palabra 'ahora'
    </span>
  </div>

  <div class="container-fluid btnVideoCenter justify-content-center text-center align-items-center d-flex" id="talkBtnBox">

    <img src="/media/gifts/negro_coloreado.gif" id="circleSpectrum" alt="" width="385px">

    <button id="btnActiveRecognizer" class="btn  shadow border border-white" style="cursor: pointer;">
      <div class="loader-03 d-none" id="btnTalkLoader"></div>
      <i class="fas fa-microphone text-white fa-4x p-1 border-fw-black" id="microphoneIcon"></i>
    </button>
  </div>

  <button class="btnResetIA btn btn-dark btn-lg" id="btnReset" disabled>
    <i class="fas fa-solid fa-arrow-rotate-right"></i>
  </button>

  <div class="buttonsBox" id="buttonsBox">
    <div class="container-fluid h-100 align-items-center" style="display: grid;">
      <div class="row justify-content-center text-center">

        <div id="timerBoxFreeSay" class="row justify-content-center text-center d-none align-items-center h-100 d-flex">
          <span class="text-white fw-bolder" style="font-size: 10.5rem;" id="timerFreeSay"></span>
        </div>

        <div id="scoreBox" class="d-none row justify-content-center">

          <div class="col-md-12 d-flex text-center justify-content-center align-items-center h-100">
            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '1' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnOne" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">1
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '2' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnTwo" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">2
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '3' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnThree" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">3
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '4' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack'); document.getElementById('btnActiveRecognizer').disabled = true;" id="btnFour" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">4
            </button>

            <button onclick="postData('storeAnswers', { ask: 'Puntuación', answer: '5' }); document.getElementById('scoreBox').classList.add('d-none'); document.getElementById('buttonsBox').classList.add('d-none'); if(localStorage.getItem('isGirlAvatarFlag') == 'true') playVideo('openQuestionTrack'); else playVideo('openQuestionChicoTrack');" id="btnFive" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 mx-3" width="20%" type="button">5
            </button>

          </div>
        </div>

        <div id="YesOrNoBox" class="d-none row justify-content-center">

          <div class="col-md-12 d-flex text-center justify-content-center align-items-center h-100">
            <button id="btnYes" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Sí, me gustaría
            </button>

            <button id="btnNo" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">En otro momento
            </button>
          </div>
        </div>

        <div class="row mb-4" id="buttonsPartOne">
          <div class="col-md-12 d-flex text-center justify-content-evenly align-items-center h-100">

            <button id="btnGallery" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Galerías y secciones <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729642/icons/kisspng-computer-icons-photo-gallery-5b21af37aa13d6.9788079415289341996967_oofqzm.png" width="50" class="p-0 m-0" />
            </button>

            <button id="btnPlaces" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">
              <span class="d-block" style="font-size: 1.57rem;">Espacios y arquitectura</span> <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729643/icons/transparent-handout-icon-print-icon-road-map-icon-5fd3c435816667.12508880160771384553_dcfg3t.png" width="50" class="p-0 m-0" />
            </button>
          </div>
        </div>

        <div class="row" id="buttonsPartBox">
          <div class="col-md-12 d-flex text-center justify-content-evenly align-items-center h-100">

            <button id="btnHistory" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Historia de Arco <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729640/icons/kisspng-computer-icons-art-story-5ac43b2e903792.5535584715228096465907_qqktbi.png" width="50" class="p-0 m-0" />
            </button>

            <button id="btnNew" class="btns-ia btn btn-lg text-light bg-dark-blue btn-rounded btn-light-blue zIndexNueveMilCien h-100 w-50 mx-3" type="button">Novedades 2022 <img src="https://res.cloudinary.com/solumobil/image/upload/v1644729640/icons/kisspng-watercolor-painting-drawing-camera-photography-hand-painted-cameras-creative-5a9f7a8e929199.4775883515204010386004_1_qp7ohv.png" width="50" class="p-0 m-0" />
            </button>

          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/artyom.window.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/audioViewer.js"></script>
    <script src="/JarvisVariables.js"></script>
    <script src="/GlobalFunctions.js"></script>
    <script src="/JarvisFunctions.js"></script>
    <script src="/JarvisConf.js"></script>
    <script src="/JarvisNativeListeners.js"></script>
    <script src="/JarvisBasicListeners.js"></script>
    <script src="/JarvisValidations.js"></script>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function(tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      })

      document.addEventListener('click', () => {
        toggleFullScreen(document.body)
      })
      // // Toast
      // let toast = new Toast({
      //   animation: true,
      //   autohide: true,
      //   delay: 5000,
      // })


      // var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      // var toastList = toastElList.map(function (toastEl) {
      //   // Creates an array of toasts (it only initializes them)
      //   return new bootstrap.Toast(toastEl, {
      //                 animation: true,
      //                 autohide: true,
      //                 delay: 5000,
      //             })
      // });
      // var successToast = toastList[0];
    </script>

</body>

</html>