body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(4, 4, 134);
}

.bg-dark-blue {
  background-color: #5694f8;
}

.text-link {
  color: #027EB5 !important;
}

.btn-ia {
  background-color: #A4B6DA;
  color: white;
}

.bg-dark-blue:hover {
  background-color: #2274f8 !important;
  /* color: white; */
}

.bg-dark-blue:active {
  background-color: #0060fa !important;
  /* color: white; */
}

.btn-rounded {
  border-radius: 47px;
}

.btn-light-blue{
  outline: 3px solid white;
  /* -webkit-box-shadow: 2px 2px 19px 6px #0968E4;
  box-shadow: 2px 2px 19px 6px #0968E4; */
}

.btn-neon-blue{
  outline: 3px solid #074391;
  -webkit-box-shadow: 2px 2px 19px 6px #0968E4;
  box-shadow: 2px 2px 19px 6px #0968E4;
}

.zIndexCien {
  z-index: 100;
}

.zIndexNueveMilCien {
  z-index: 9100;
}

.buttonsBox {
  height: 30% !important;
  width: 100%;
  position: absolute;
  bottom: 0 !important;
  background: black !important;
}

video {
  height: 70% !important;
}

.videoMsg {
  position: absolute;
  z-index: 10;
  top: 52%;
  height: 45px;
}

.btnVideoCenter {
  position: relative;
  z-index: 9000;
  top: 45%;
  text-align: center;
}

.spanVideoMsg {
  color: white;
  font-size: 22px;
}

#btnActiveRecognizer {
  width: 110px;
  /* height: 100px; */
  height: 111px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 9000;
  /* right: 27rem; */
  /* top: 2.9rem; */
  top: 23.7%;
}

#circleSpectrum {
  position: relative;
  /* right: 22.4rem; */
}

.audioViewer {
  position: absolute;
  z-index: 20;
  top: 16.4%;
}

.border-fw-black {
  text-shadow: 0 0 5px #000;
}

.border-fw-white {
  text-shadow: 0 0 5px white;
}

.text-lime {
  color: rgb(70, 238, 70);
}

.bg-opaco {
  /* background-color: #353535ec; */
  background-color: #ffffff3d;
  color: white;
  /* color: #ddd; */
  /* WHITE OR #ddd */
  opacity: 1;
  border-radius: 7px;
  /* box-shadow: 0 0 9px 0 #000; */
}